In [73]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score

In [6]:
df = pd.read_csv("E:/Data science and data engineering/EDA/Student_Performance.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [41]:
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,1,4,2,23.0
9996,7,64,1,8,5,58.0
9997,6,83,1,8,5,74.0
9998,9,97,1,7,0,95.0
9999,7,74,0,8,1,64.0

In [8]:
le = LabelEncoder()

In [9]:
for col in df.columns:
    if df[col].dtype == 'object':  # Check if column is categorical (object type)
        df[col] = le.fit_transform(df[col])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  int32
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int32(1), int64(4)
memory usage: 429.8 KB

In [11]:
df.dropna(inplace = True)

In [12]:
X = df.drop(columns = 'Performance Index')
y = df['Performance Index']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [49]:
model = LinearRegression()

In [51]:
model.fit(X_train,y_train)

LinearRegression()

In [53]:
model.predict(X_test)

array([54.71185392, 22.61551294, 47.90314471, ..., 16.79341955,
       63.34327368, 45.94262301])

In [55]:
model.predict([[7,99,1,9,1]])

C:\Users\jayes\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([91.82019447])

In [57]:
print("Test Accuracy:", model.score(X_test,y_test))

Test Accuracy: 0.9889832909573145

In [59]:
import pickle
import joblib

In [61]:
with open('Student_Performance.pkl', 'wb') as file:
    pickle.dump(model, file)

In [77]:
joblib.dump(model, 'Student_Performance.pkl')

# Load the model from file
loaded_model = joblib.load('Student_Performance.pkl')

sample = [[7, 99, 1, 9, 1]]
prediction = loaded_model.predict(sample)
print("Prediction:", prediction)

Prediction: [91.82019447]

C:\Users\jayes\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [85]:
predictions = loaded_model.predict(X_test)
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

In [87]:
mse

4.082628398521852

In [89]:
r2

0.9889832909573145

In [91]:
from flask import Flask, request, jsonify
import joblib
import numpy as np

app = Flask(__name__)

# Load your trained model
model = joblib.load('Student_Performance.pkl')

@app.route('/predict', methods=['POST'])
def predict():
    data = request.json
    try:
        features = data['features']  # expects a list of numbers
        features_np = np.array(features).reshape(1, -1)
        prediction = model.predict(features_np)
        return jsonify({'prediction': prediction[0]})
    except Exception as e:
        return jsonify({'error': str(e)}), 400

if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with watchdog (windowsapi)

SystemExit: 1

C:\Users\jayes\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [93]:
import os
print(os.getcwd())

C:\Users\jayes